.chat{
    flex:2;
    border-left: 1px solid #dddddd35;
    border-right: 1px solid #dddddd35;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;

    .top{
        padding: 0 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #dddddd35;

        .title{
            display: flex;
            align-items: center;
            gap: 20px;
            flex-direction: row;

            p{
                font-size: 20px;
                font-weight: 600;
            }
        }

        .icons{
            display: flex;
            gap: 18px;
            
            img{
                width: 40px;
                height: 40px;
            }

            .btnsTop{
                padding: 5px;
                border-radius: 5px;
                background-color: #5183fe;
                cursor: pointer;
            }
        }
    }


    .center{
        padding: 16px;
        flex: 1;
        overflow:  scroll;
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-bottom: 30px;

        .message{
            max-width: 70%;
            display: flex;
            gap: 10px;

            

            &.own{
                align-self: flex-end;
            
                .texts{
                    p{
                        background-color: #7fa3ff;
                        border: none;
                    }
                }

                span{
                    align-self: flex-end;
                }
            }

            img{
                width: 55px;
                height: 55px;
                border-radius: 50%;
                object-fit: cover;
                border: 2px solid slateblue;
            }

            .texts{
                flex:1;
                display: flex;
                flex-direction: column;
            
                p{
                    padding: 0.8em;
                    background-color: rgb(137, 124, 220);
                    border-radius: 10px;
                }

                span{
                    font-size: 13px;
                }
            }
        }
    }

    .bottom{
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-top: 1px solid #dddddd35;
        gap: 20px;
        position:sticky;
        bottom: 0;

        .icons{
            display: flex;
            gap: 20px;
        }

        img{
            width: 40px;
            height: 40px;
            cursor: pointer;
        }

        input{
            flex: 1;
            border: none;
            outline: none;
            color: white;
            padding: 20px;
            border-radius: 10px;
            font-size: 16px;
        }

        input::placeholder{
            color: white;
        }

        .sendButton{
            background-color: #5183fe;
            color:white;
            padding: 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 18px;
            font-weight: 550;
        }
    }

    
}

