.support-form-container {
    width: 60%;
    margin: 2rem auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    font-size: 16px;
  }
  .support-form-container > h1 {
    font-weight: bold;
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 1rem;
    font-size: 16px;
  }
  
  label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
  }
  
  input, textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }

  textarea{
    font-size: 16px;
    height: 300px;
  }

  textarea:focus{
    border: 1px solid slateblue;
  }
  
  button.bottoneSupporto {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    font-weight: bold;
    margin-top: 0.5rem;
  }
  
  .success-message {
    color: green;
    margin-bottom: 1rem;
  }
  
  .error-message {
    color: red;
    margin-bottom: 1rem;
  }