*{
    padding: 0;
    margin: 0;
}

:root{
    --colore1: #0a0a23;
    --colore2: #00509e;
    --colore3: #ffffff;
    --colore4: #1a8cff;
    --colore5: #007f5f;
}

.nascondi{
    display: none;
}

.center{
    text-align: center;
    padding: 10px;
}

html{
    width: 100%;
    font-size: 100%;
    line-height: 1.5em;
    margin: auto;
    background-color: var(--colore2);
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    line-height: 1.5em;
    background-color: var(--colore1);
    align-items: space-around;
    color:var(--colore3);
}

main{
    margin:auto;
    width: 80%;
    min-height:max-content;
    align-items: center;
    background-color: var(--colore2);
    color:var(--colore3);
    font-family: 'Tahoma', sans-serif;
}

.titolo{
    text-align: center;
    color: var(--colore3);
    font-size: 2em;
    margin: 1em;
}

.slide-1{
    margin:0.5em;
    background-color: var(--colore4);
    padding: 0.5em;
    border-radius: 0.5em;
    box-shadow: 0 0 0.5em var(--colore5);

}

.slide-1 > p{
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
}

a.bottone{
    display: inline-block;
    padding: 0.5em 1em;
    background-color: var(--colore4);
    color: var(--colore3);
    text-align: center;
    text-decoration: none;
    border-radius: 0.5em;
    box-shadow: 0 0 0.5em var(--colore5);
    font-weight: bold;
    transition: background-color 0.3s ease;
    padding: 0.5em;
}

a.bottone:hover{
    background-color: var(--colore5);
}